# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directory build
**/build

# Directory output
**/Output

# Directory html
**/html

# Directory latex
**/latex

# Emacs backup files
*~

